[user]
	email = funtovkd@eruditor-group.com
	name = Кирилл Фунтов
    signingkey = E620057B7B81D9F3
[push]
    default = current
[alias]
    fpush = push --force-with-lease
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[commit]
    gpgsign = true
