.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
.cargo
.config/JetBrains/
.config/chromium/
.config/dconf/
.config/libfm/
.config/menus/
.config/pulse/
.config/Slack/
.config/smplayer/*.m3u8
.config/smplayer/device_info.ini
.config/smplayer/hdpi.ini
.config/smplayer/player_info.ini
.config/smplayer/playlist.ini
.config/smplayer/tv.m3u8
.dotfiles
.gnupg
.java
.local
.pki
.ssh
.subversion
.xsession-errors
.xsession-errors.old
Documents
Downloads
delete_me
development
